@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.loader{
  animation: loader .4s linear infinite;
}

@keyframes loader {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
}